<!-- Images used to open the lightbox in pc view -->
<div class="w3-row-padding w3-animate-opacity" *ngIf="!isMobile">
  <div class="w3-third" >
    <div class="w3-col l12" *ngFor="let photo of photosLQ; let i = index;">
      <img class="w3-image w3-round hover-shadow w3-margin-top" src="{{photo.path}}" (click)="openModal();currentSlide(i);" *ngIf="i % 3 == 0">
    </div>
  </div>
  <div class="w3-third" >
    <div class="w3-col l12" *ngFor="let photo of photosLQ; let i = index;">
      <img class="w3-image w3-round hover-shadow w3-margin-top" src="{{photo.path}}" (click)="openModal();currentSlide(i);" *ngIf="i % 3 == 1">
    </div>
  </div>
  <div class="w3-third" >
    <div class="w3-col l12" *ngFor="let photo of photosLQ; let i = index;">
      <img class="w3-image w3-round hover-shadow  w3-margin-top" src="{{photo.path}}" (click)="openModal();currentSlide(i);" *ngIf="i % 3 == 2">
    </div>
  </div>
</div>

<!-- Images used to open the lightbox in mobile view -->
<div class="w3-row-padding w3-animate-opacity" *ngIf="isMobile">
  <div class="w3-col l12 w3-margin-top w3-center" *ngFor="let photo of photosLQ; let i = index;">
    <img class="w3-image w3-round hover-shadow" src="{{photo.path}}" (click)="openModal();currentSlide(i);">
  </div>
</div>
  
<!-- The Modal/Lightbox (HD images) --> 
<div id="myModal" class="modal">
  <span class="close cursor" (click)="closeModal()">&times;</span>
  <div class="modal-content">
    <div class="mySlides" *ngFor="let photo of photosHD; let i = index;">
      <img id = images class="w3-image w3-round" src="{{photo.path}}">
    </div>

    <!-- Next/previous controls -->
    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1)">&#10095;</a>

    <!-- Thumbnail image controls -->
    <div class="column" *ngFor="let photo of photosLQ; let i = index;">
      <img class="demo cursor w3-round" src="{{photo.path}}" style="width:100%" (click)="currentSlide(i)">
    </div>
  </div> 
</div>
