<header class="w3-display-container w3-wide w3-grayscale-min w3-animate-opacity background">
    <img class="w3-display-topleft w3-grayscale-min flower1" src="/assets/images/Flower1Header.png">
    <img class="w3-display-topright w3-grayscale-min flower2" src="/assets/images/Flower2Header.png">
    <div class="w3-display-middle w3-text-white w3-center">      
      <h1 class="w3-jumbo wordMargin">Garrett & Claire</h1>
      <h2>Are getting married</h2>
      <h2><b>06.16.2023</b></h2>
    </div>
    <div class="w3-display-bottommiddle w3-text-white w3-center box_textshadow"><count-down></count-down></div>
</header>