.flower1{
    width:25%;
    margin:0px;
}
.flower2{
    width:25%;
    margin:0px;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
    .flower1{
        width:40%;
        margin:0px;
    }
    .flower2{
        width:40%;
        margin:0px;
    }
  }
  