.backgroundColor {
    background-color: var(--primary);
}

.customImg{
    width:50%;
    margin:32px 0;
}

// Responsive nav
@media screen and (max-width: 600px) {
    .customImg{
        width:100%;
        margin:32px 0;
    }
}
