<!-- Home Page Section -->
<div class="w3-container w3-animate-opacity backgroundColor customPadding">
  <div class="w3-content w3-center">
    <h1 class="w3-text-grey"><b>The Wedding</b></h1>
      <img class="w3-round-large w3-grayscale-min" src="/assets/images/TheExchange.jpeg" style="width:100%;margin:64px 0">
  </div>
</div>

<div class="w3-container w3-padding-32 w3-animate-opacity detailsBackgroundColor">
  <div class="w3-content w3-center">
    <div class="w3-row">
    <div class="w3-half">
        <h2>When</h2>
        <p>Wedding Ceremony - 4:00pm</p>
        <p>Reception & Dinner - 5:15pm</p>
    </div>
    <div class="w3-half">
        <h2>Where</h2>
        <p>The Exchange - Lake of the Ozarks</p>
        <p><a href="https://www.google.com/maps/dir//the+exchange+camdenton/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x87c4de5c4c736ddf:0xec59e6d10c94a2cf?sa=X&ved=2ahUKEwju-6n0p9X4AhUyDEQIHZsUDeoQ9Rd6BAhZEAU" 
        title="Directions" target="_blank" class="w3-hover-text-red">57 Court Circle S.W., Camdenton, MO 65020</a></p>
    </div>
    </div>
  </div>
</div>
