.backgroundColor {
  background-color: var(--primary);
}

* {
  box-sizing: border-box;
}

img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.border {
  border-bottom: 1px solid #222;
  margin: auto;
  width: 150px;
}
