<div class="w3-container w3-padding-64 w3-animate-opacity div-1">
    <div class="w3-content">
        <h1 class="w3-center w3-text-grey w3-grayscale-min"><b>Wedding Party</b></h1>

        <!-- Bridesmaids -->
        <div class="w3-row-padding w3-animate-opacity" >
          <div class="w3-col l2 hidden-mobile" >&nbsp;</div>
          <div class="w3-col l4 s12" >  
            <img class="w3-image w3-round w3-margin-top" src="{{base}}0.jpg">
          </div>
          <div class="w3-col l4 s12">
            <img class="w3-image w3-round w3-margin-top" src="{{base}}0.jpg">
          </div>
          <div class="w3-col l2 hidden-mobile" >&nbsp;</div>
        </div>     
        <!-- Groomsmen -->
        <div class="w3-row-padding w3-animate-opacity" >
          <div class="w3-col l2 hidden-mobile" >&nbsp;</div>
          <div class="w3-col l4 s12" >  
            <img class="w3-image w3-round w3-margin-top" src="{{base}}4.jpg">
          </div>
          <div class="w3-col l4 s12">
            <img class="w3-image w3-round w3-margin-top" src="{{base}}4.jpg">
          </div>
          <div class="w3-col l2 hidden-mobile" >&nbsp;</div>
        </div>     
    </div> 
</div>


  
  
