.div-1 {
  background-color: #F2E1E1;
}

* {
  box-sizing: border-box;
}

// .row > .column {
//   padding: 0 8px;
// }

// .row:after {
//   content: "";
//   display: table;
//   clear: both;
// }

// .column {
//   float: left;
//   width: 25%;
// }

img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  // margin: auto;
  // padding: 70px;
}

.border {
  border-bottom: 1px solid #222;
  margin: auto;
  width: 150px;
}
