<div class="w3-container w3-padding-64 w3-animate-opacity div-1">
    <div class="w3-content">
      <h1 class="w3-center w3-text-grey"><b>Wedding Party</b></h1>
      
        <!-- Bridesmaids -->
        <div class="w3-row-padding w3-animate-opacity">
          <div class="w3-third  w3-center"  *ngFor="let maid of maids; let i = index;">  
            <img class="w3-image w3-round w3-margin" src="{{maid.path}}">
            <h2 class="w3-center">{{maid.name}}</h2>
            <div class="border"></div>
            <p class="w3-center">{{maid.title}}</p>
            <p>{{maid.description}}</p>
          </div>
        </div>    
        
        <div class="w3-padding-16" >&nbsp;</div>

        <!-- Groomsmen -->
        <div class="w3-row-padding w3-animate-opacity">
          <div class="w3-third  w3-center"  *ngFor="let groom of grooms; let i = index;">  
            <img class="w3-image w3-round w3-margin" src="{{groom.path}}">
            <h2 class="w3-center">{{groom.name}}</h2>
            <div class="border"></div>
            <p class="w3-center">{{groom.title}}</p>
            <p>{{groom.description}}</p>
          </div>
        </div>
    </div> 
</div>  
