<!-- Footer -->
<footer class="w3-center w3-padding-16 w3-animate-opacity backgroundColor">
    <div class="w3-text-grey">
        <br><h1>G & C</h1>
        <div class="border"></div>
        <h2>06.16.2023</h2><br>
        <img class="flower1 w3-grayscale-min" src="/assets/images/Flower1.png"><br>
        <div class="shoutout">
            <p>Created by <a href="https://github.com/elloGarrett/wedding_website" title="Garrett" target="_blank" class="w3-hover-text-blue">Garrett</a></p>
        </div>
    </div>
</footer>