.backgroundColor{
    background-color: var(--primary);
}

.cardpos {
    position: relative; 
    width: 75%; 
    height: 600px; 
    margin: auto;
}

/* Modal Content */
@media screen and (max-width: 600px) {
    .cardpos {
        position: relative; 
        width: 90%; 
        height: 600px; 
        margin: auto;
    }
  }