/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
    .mobileView{
        position: absolute;
    }
  }

.wordStyle{
    width:25%;
    text-align: center;
}